<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    
    <!-- APPLICATION CONFIGURATION -->
		<add key="apiKey" value="fef9f57739ecc4a0acfc9555ceae5ddf" />
		<add key="siteURL" value="https://detectlanguage.com/"/>

    <!-- TEST USER ACCOUNT CONFIGURATION -->
    <add key="userID" value="languagedetectapitest@gmail.com" />
    <add key ="userPassword" value="This is not the strongest password!" />
    
    <!-- REPORTING CONFIGURATION-->
    <add key="reportLocation" value="C:\\API_TEST_LOGS" />
    <add key="runReports" value="true"/>
    
	</appSettings>
</configuration>